<div class="container py-3">
    
    <h1 class="especial text-md-center">Política de Privacidade</h1>
    
    <p>Nós levamos a sua privacidade a sério. Esta política de privacidade explica como tratamos suas informações pessoais
        quando você usa nosso site e serviços. Leia atentamente para entender como suas informações serão usadas.</p>
    
    <h2 class="especial text-md-center">Coleta de Informações Pessoais</h2>
    
    <p>Para utilizar nossos serviços, precisamos coletar as seguintes informações pessoais:</p>
    
    <ul>
        <li>Nome</li>
        <li>Foto de perfil</li>
        <li>Posição no ranking</li>
        <li>Endereço de e-mail</li>
        <li>Número de CPF</li>
    </ul>
    
    <p>Essas informações são essenciais para a criação do seu perfil de usuário e para fornecer a você uma experiência
        personalizada em nosso site.</p>
    
    <h2 class="especial text-md-center" >Uso das Informações Pessoais</h2>
    
    <p>Nós nunca compartilharemos suas informações pessoais sem o seu consentimento. Utilizamos esses dados apenas para os
        seguintes fins:</p>
    
    <ul>
        <li>Criar e gerenciar seu perfil de usuário</li>
        <li>Fornecer acesso a recursos e funcionalidades exclusivas</li>
        <li>Melhorar nossos serviços e personalizá-los de acordo com suas preferências</li>
        <li>Comunicar-se com você sobre atualizações, eventos e ofertas especiais</li>
        <li>Manter a segurança e integridade de nossos sistemas</li>
    </ul>
    
    <h2 class="especial text-md-center">Consentimento</h2>
    
    <p>Ao utilizar nossos serviços e fornecer suas informações pessoais, você consente com a coleta, uso e divulgação dessas
        informações de acordo com esta política de privacidade.</p>
    
    <h2 class="especial text-md-center">Segurança</h2>
    
    <p>Tomamos medidas rigorosas para proteger suas informações pessoais contra acesso não autorizado, uso indevido ou
        divulgação. Utilizamos protocolos de segurança avançados para manter a integridade e a confidencialidade de seus
        dados.</p>
    
    <h2 class="especial text-md-center">Contato</h2>
    
    <p>Se você tiver alguma dúvida sobre esta política de privacidade ou suas informações pessoais, entre em contato conosco
        pelo seguinte endereço de e-mail: <a href="mailto:desporpato@gmail.com">desporpato@gmail.com</a>.</p>
    
    <p>Esta política de privacidade foi atualizada pela última vez em 15/09/2023.</p>
    </div>