<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center my-4" style="color: rgb(185, 76, 12);">Detalhes do evento</h2>
    </div>
  </div>

  
    <form [formGroup]="form">
      <div class="row mb-3 d-flex justify-content-center">
        <div class="col-md-3">
          <label for="titulo">Titulo</label>
          <input id="titulo" type="text" class="form-control" formControlName="titulo">
      </div>
        <div class="col-md-3">
          <label for="data">Data</label>
          <input id="data" type="text" class="form-control" formControlName="data">
      </div>
        <div class="col-md-3">
            <label for="esporte">Esporte</label>
            <select data-dropup-auto="false" class="form-select form-control" aria-label="Default select example"  formControlName="esporte">
                <option selected>Clique para selecionar</option>
                <option value="Atletismo">Atletismo</option>
                <option value="Badminton">Badminton</option>
                <option value="Basquete">Basquete</option>
                <option value="Corrida">Corrida</option>
                <option value="Dança">Dança</option>
                <option value="Futebol">Futebol</option>
                <option value="Futsal">Futsal</option>
                <option value="Ginástica">Ginástica</option>
                <option value="Handeball">Handeball</option>
                <option value="Judô">Judô</option>
                <option value="Natação">Natação</option>
                <option value="Passeio">Passeio</option>
                <option value="Tênis de Campo">Tênis de Campo</option>
                <option value="Tênis de Mesa">Tênis de Mesa</option>
                <option value="Torneio de Cheerleaders">Torneio de Cheerleaders</option>
                <option value="Vôlei">Vôlei</option>
                <option value="Xadrez">Xadrez</option>
            </select>
        </div>
    </div>
      <div class="row mb-3  d-flex justify-content-center">
        <div class="col-md-9">
          <label for="link">Link</label>
          <input id="link" type="text" class="form-control" formControlName="link">
      </div>
      </div>
    </form>
  <div *ngIf="!edicaoHabilitada" class="row my-5 d-flex justify-content-center">
    <div class="col-md-9 d-flex justify-content-md-between">
      <button *ngIf="eventoSelecionado.qr_code" type="button" class=" btn btn-sm qr_code" data-bs-toggle="modal" data-bs-target="#qrCodeModal">
        Acessar Qr Code
      </button>
      <button *ngIf="eventoSelecionado.qr_code" type="button" class="btn btn-secondary btn-sm" (click)="editar()">Editar Evento</button>
      <button *ngIf="eventoSelecionado.qr_code" type="button" class="btn btn-danger btn-sm " data-bs-toggle="modal" data-bs-target="#qrCodeModal2">Deletar Evento</button>
      <button *ngIf="eventoSelecionado.qr_code" class="btn btn-success btn-sm " (click)="exportarExcel()">Exportar Dados Para Excel</button>
      <button  routerLink="/eventos" class="btn btn-primary btn-sm">Ir Para Lista de Eventos</button>
    </div>
  </div>
    <div *ngIf="edicaoHabilitada" class="row my-5 d-flex justify-content-center">
      <div class="col-md-9 d-flex justify-content-md-center">
        <button  type="button" class="btn btn-success btn-sm me-1" (click)="salvar()">Salvar</button>
        <button  type="button" class="btn btn-danger btn-sm" (click)="fechar()">Fechar</button>
      </div>
    </div>
  <div *ngIf="salvarClicado" class="d-flex align-items-center justify-content-center text-success mt-1">
    <strong>Carregando...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
  <div *ngIf="mostraPutSucesso" class="alert alert-success mt-1" role="alert">
    Dados atualizados com sucesso, a pagina sera recarregada
  </div>
  <div *ngIf="mostraPutFracasso" class="alert alert-danger mt-1" role="alert">
    {{textoErroPut}}
  </div>
  <div *ngIf="deletarClicado" class="d-flex align-items-center justify-content-center text-success mt-1">
    <strong>Carregando...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
  <div *ngIf="mostraDeleteSucesso" class="alert alert-success mt-1" role="alert">
    Evento deletado com sucesso, você será redirecionado a lista de eventos
  </div>
  <div *ngIf="mostraDeleteFracasso" class="alert alert-danger mt-1" role="alert">
    {{textoErroDel}}
  </div>

  <!-- Modal de qrcode -->
  <div class="modal fade" id="qrCodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Qr code do evento {{eventoSelecionado.titulo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-auto">
          <img src="{{eventoSelecionado.qr_code}}" alt="">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de deletar -->
  <div class="modal fade" id="qrCodeModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Deseja mesmo deletar?</h3>
        </div>
        <!-- <div class="modal-body mx-auto">
        </div> -->
        <div class="modal-footer">
          <button  type="button" class="btn btn-success btn-md " data-bs-dismiss="modal" (click)="deletar()">Confirma</button>
          <button  type="button" class="btn btn-danger btn-md" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>