<div class="container py-md-3 py-1 ">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 mb-3 mb-md-0">
            <section class="">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-12 col-xl-12">

                            <div class="card" style=" height: 100%; border-radius: 15px;">
                                <div class="card-body text-center">
                                    <div class="mt-3 mb-4">
                                        <img src="{{usuario.foto}}" class="rounded-circle img-fluid"
                                            style="width: 100px;" />
                                    </div>
                                    <h4 class="mb-2">{{ usuario.username }}</h4>
                                    <p class="text-muted mb-4">{{usuario.cidade}} <span class="mx-2">|</span> <a
                                            role="banner">{{usuario.esportePreferido}}</a></p>
                                    <div class="row mb-4 pb-2">
                                        <div class="col-3"></div>
                                        <button routerLink="/ranking" type="button"
                                            class="col-3 btn btn-outline-primary btn-floating">
                                            Ranking de Pato Branco
                                        </button>
                                        <button routerLink="/atividades" type="button"
                                            class="col-3 btn btn-outline-danger btn-floating">
                                            Atividades
                                        </button>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/fire.png" width="70px" height="70px"
                                            alt="fogo">
                                    </div>
                                    <div class="d-flex row mt-5 mb-2">
                                        <div class="col-4">
                                            <p class="mb-2 h5">{{totalAtividades}}</p>
                                            <p class="text-muted mb-0">Atividades </p>
                                        </div>
                                        <div class="col-4">
                                            <button routerLink="/criar-atividade" id="criar-atividade"
                                                class="btn btn-lg  rounded-pill">+</button>
                                        </div>
                                        <div class="col-4">
                                            <p class="mb-2 h5">{{posicao+1}}°</p>
                                            <p class="text-muted mb-0">Ranking: {{usuario.esportePreferido}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- <div *ngIf="!naoTirandoFoto" class="" id="fotoContainer"></div> -->

    </div>
</div>