<div  class="container py-md-3 mb-2">
    <h2 class="">Preencha os campos do Evento</h2>
    <form [formGroup]="form">
        <div class="row mb-3">
            <div class="col-3">
                <label for="titulo">Titulo</label>
                <input placeholder="Ex: Corrida Unimed" id="titulo" type="text" class="form-control"
                    formControlName="titulo" [ngClass]="{
                    'is-valid': form.get('titulo')?.valid,
                    'is-invalid': form.get('titulo')?.invalid && (form.get('titulo')?.touched || form.get('titulo')?.dirty)
                }">
                <ul *ngIf="(form.get('titulo')?.invalid && (form.get('titulo')?.touched || form.get('titulo')?.dirty))">
                    <li>Campo obrigatório</li>
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="link">Link</label>
                <input placeholder="Cole o link do evento" id="link" type="url" class="form-control"
                    formControlName="link" [ngClass]="{
                    'is-valid': form.get('link')?.valid,
                    'is-invalid': form.get('link')?.invalid && (form.get('link')?.touched || form.get('link')?.dirty)
                }">
                <ul *ngIf="(form.get('link')?.invalid && (form.get('link')?.touched || form.get('link')?.dirty))">
                    <li>Campo obrigatório</li>
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="data">Data</label>
                <input placeholder="Cole o data do evento" id="data" type="date" class="form-control"
                    formControlName="data" [ngClass]="{
                    'is-valid': form.get('data')?.valid,
                    'is-invalid': form.get('data')?.invalid && (form.get('data')?.touched || form.get('data')?.dirty)
                }">
                <ul *ngIf="(form.get('data')?.invalid && (form.get('data')?.touched || form.get('data')?.dirty))">
                    <li>Campo obrigatório</li>
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="esporte">Esporte</label>
                <select data-dropup-auto="false" class="form-select form-control" aria-label="Default select example"  formControlName="esporte"
                     [ngClass]="{
                    'is-valid': form.get('esporte')?.valid,
                    'is-invalid': form.get('esporte')?.invalid && (form.get('esporte')?.touched || form.get('esporte')?.dirty)
                }">
                    <option selected>Clique para selecionar</option>
                    <option value="Atletismo">Atletismo</option>
                    <option value="Badminton">Badminton</option>
                    <option value="Basquete">Basquete</option>
                    <option value="Corrida">Corrida</option>
                    <option value="Dança">Dança</option>
                    <option value="Futebol">Futebol</option>
                    <option value="Futsal">Futsal</option>
                    <option value="Ginástica">Ginástica</option>
                    <option value="Handeball">Handeball</option>
                    <option value="Judô">Judô</option>
                    <option value="Natação">Natação</option>
                    <option value="Passeio">Passeio</option>
                    <option value="Tênis de Campo">Tênis de Campo</option>
                    <option value="Tênis de Mesa">Tênis de Mesa</option>
                    <option value="Torneio de Cheerleaders">Torneio de Cheerleaders</option>
                    <option value="Vôlei">Vôlei</option>
                    <option value="Xadrez">Xadrez</option>
                </select>
                <ul
                    *ngIf="form.get('esporte')?.invalid && (form.get('esporte')?.touched || form.get('esporte')?.dirty)">
                    <li *ngIf="form.get('esporte')?.hasError('required')">Campo obrigatório</li>
                </ul>
            </div>
        </div>
        <button [disabled]="criarClicado" id="criar" class="btn btn-mg" (click)="criar()">Criar</button>
        <div *ngIf="mostraSucesso" class="alert alert-success mt-2" role="alert">
            Evento Cadastrado, aguarde e você sera direcionado para a página do evento.
        </div>
        <div *ngIf="mostraFracasso" class="alert alert-danger mt-2" role="alert">
            Erro ao cadastrar o evento
        </div>
    </form>
</div>
