<div *ngIf="!mostraMensagemPermissaoCamera" class="container-fluid d-flex justify-content-center">
    <div class="col-md-4 mt-5">
        <section class="vh-100">
            <div class="container py-1 h-100">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-12 col-xl-12">

                        <div class="card" style=" height: 100%; border-radius: 15px;">
                            <h2 class="m-4 text-center">Registrar Nova Atividade</h2>
                            <div *ngIf="cameraFechada" class="row mt-1 justify-content-center">
                                <button class="col-4 btn btn-primary me-1" (click)="lerQrCode()">Ler QRcode</button>
                                <button class="col-4 btn btn-warning" (click)="tirarFoto()">Tirar Foto</button>
                            </div>
                            <div *ngIf="cameraFechada" class="row mt-1 justify-content-center mb-2">
                                <button [disabled]="qrCodeNaoLido" class="col-4 btn btn-success"
                                    (click)="salvar()">Salvar</button>
                            </div>
                            <div *ngIf="salvarClicado" class="d-flex align-items-center justify-content-center text-success mt-3">
                                <strong class="me-1">Carregando...</strong>
                                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center" id="reader-container">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="width: 100%" id="fotoContainer"></div>
                                </div>
                            </div>
                            <div *ngIf="mostraSucesso" class="alert alert-success mt-2" role="alert">
                                Atividade cadastrada com sucesso, aguarde e você será redirecionada para a página dessa atividade!
                            </div>
                            <div *ngIf="mostraFracasso" class="alert alert-danger mt-2" role="alert">
                                {{textoErro}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div *ngIf="mostraMensagemPermissaoCamera" class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <div  class="alert alert-warning text-center" role="alert">
                <p>Para continuar, por favor, conceda permissões de câmera:</p>
                <ol>
                    <li>Abra as configurações do navegador.</li>
                    <li>Procure a seção de permissões.</li>
                    <li>Habilite as permissões de câmera para este site.</li>
                </ol>
            </div>
        </div>
    </div>
    
</div>