<div class="container-fluid">
    <div class="row">
      <div class=" col-md-6 d-flex justify-content-end vh-md-100">
        <div data-bs-ride="carousel" id="carouselExampleIndicators" class="carousel slide  mt-md-5 mt-2 mb-3" style=" max-width: 570px;" data-bs-interval="4000">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" style="max-width: 100%; height: auto;">
              <img src="https://desporpato.s3.sa-east-1.amazonaws.com/media/padroes/pato+futebol.png" class="img-fluid rounded" alt="..." >
            </div>
            <div class="carousel-item" style="max-width: 100%; height: auto;">
              <img src="https://desporpato.s3.sa-east-1.amazonaws.com/media/padroes/pato+volei.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="carousel-item" style="max-width: 100%; height: auto;">
              <img src="https://desporpato.s3.sa-east-1.amazonaws.com/media/padroes/pato+corrida.jpg" class="img-fluid rounded" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-center">
          <div class="col-md-4 mt-md-5 mt-2">
            <div class="card p-5 mx-auto mb-3" style="width: 22rem; height: auto;">
              <form [formGroup]="form">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <label for="email">E-mail</label>
                <input placeholder="" id="email" type="text" class="form-control" formControlName="email">
                <label for="senha">Senha</label>
                <input id="senha" placeholder="" type="password" class="form-control" formControlName="senha">
                <div class="mb-3">
                  <a routerLink="/cadastro" routerLinkActive="active">Criar uma conta</a>
                </div>
                <div *ngIf="mostraFracasso" class="alert alert-danger" role="alert">
                  {{textoFracasso}}
                </div>
                <button [disabled]="entrarClicado" id="signIn" class="btn btn-mg" (click)="entrar()">Entrar</button>
              </form>
              <div *ngIf="entrarClicado" class="d-flex align-items-center text-success mt-3">
                <strong class="me-1">Carregando...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
            </div>
            </div>
            <div class="row mx-auto mb-3" style="width: 22rem"><div class="text-center">Quack para um estilo de vida saudável - 
              Seja como nosso pato branco, mergulhe nos esportes!</div></div>
          </div>
        </div>
      </div>
      
    </div>
  </div>