<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d87b3d;">
  <!-- Navbar Toggler Button -->
<button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
aria-controls="offcanvasNavbar">
<span class="navbar-toggler-icon"></span>
</button>

<!-- Offcanvas Navbar -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Desporpato</h5>
  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body mt-2">
  <a class="navbar-brand ms-md-2 mb-2 d-lg-block d-none" role="banner">DesporPato</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a id="home" data-bs-dismiss="offcanvas" *ngIf="mostraHomeBotao" class="nav-link active rounded" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
      <a id="meuPerfil" data-bs-dismiss="offcanvas" *ngIf="!mostraHomeBotao" class="nav-link active rounded" [routerLink]="['/perfil']">Meu Perfil</a>
    </li>
    <li class="nav-item">
      <a id="sobre" data-bs-dismiss="offcanvas" class="nav-link active rounded" [routerLink]="['/sobre']">Sobre</a>
    </li>
    <li class="nav-item" *ngIf="!mostraHomeBotao">
      <a id="eventos" data-bs-dismiss="offcanvas" class="nav-link active rounded" [routerLink]="['/eventos']">Eventos</a>
    </li>
    <li class="nav-item" *ngIf="!mostraHomeBotao">
      <a id="atividades" data-bs-dismiss="offcanvas" class="nav-link active rounded" [routerLink]="['/atividades']">Atividades</a>
    </li>
    <li class="nav-item">
      <a id="tema" data-bs-dismiss="offcanvas" role="button" class="nav-link active rounded" (click)="toggleTheme()">Trocar Tema</a>
    </li>
    </ul>
    <ul class="navbar-nav ms-auto">
    <li class="nav-item" *ngIf="!mostraHomeBotao">
      <a id="configuracoes" data-bs-dismiss="offcanvas" class="nav-link active rounded" [routerLink]="['/configuracoes']">Configurações</a>
    </li>
    <li class="nav-item me-2" *ngIf="!mostraHomeBotao">
      <a id="sair" data-bs-dismiss="offcanvas" role="button" class="nav-link active rounded" (click)="sair()">Sair</a>
    </li>
  </ul>
</div>
</div>

</nav>

<router-outlet></router-outlet>



