<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #cb3dd8;">
  <div class="container-fluid">
    <a class="navbar-brand" role="banner">DesporPato</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="home" role="button" *ngIf="mostraHomeBotao" class="nav-link active rounded" aria-current="page"
            routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a id="meuPerfil" role="button" *ngIf="!mostraHomeBotao"  class=" nav-link active rounded" aria-current="page" (click)="navigateToProfile()">
            Meu Perfil
          </a>
        </li>
        <li class="nav-item">
          <a id="sobre" role="button"  class="nav-link active rounded" routerLink="/sobre">Sobre</a>
        </li>
        <li *ngIf="!mostraHomeBotao">
          <a id="eventos" role="button"  class="nav-link active rounded" routerLink="/eventos">Eventos</a>
        </li>
        <li *ngIf="!mostraHomeBotao">
          <a id="meus-eventos" role="button"  class="nav-link active rounded" routerLink="/meus-eventos">Meus Eventos</a>
        </li>
        <li *ngIf="!mostraHomeBotao">
          <a id="eventos" role="button"  class="nav-link active rounded" routerLink="/atividades">Atividades</a>
        </li>
        <li>
          <a id="tema" role="button" class="btn btn-mg" role="button"  class="nav-link active rounded" (click)="toggleTheme()">Trocar Tema</a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!mostraHomeBotao">
          <a id="configuracoes"  role="button" class="nav-link active rounded" (click)="goToConfiguracoes()">Configurações</a>
        </li>
        <li class="nav-item" *ngIf="!mostraHomeBotao">
          <a id="sair" role="button"  class="nav-link active rounded ms-l-2" (click)="sair()">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>