<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1 class="text-md-center mt-4">Sobre o DesporPato</h1>
          <p class="text-md-center lead">Sua plataforma esportiva em Pato Branco</p>
      </div>
  </div>
  <div class="row mb-4">
      <div class="col-md-6">
          <h2 class="text-md-center">Quem Somos</h2>
          <p>
              Somos uma plataforma dedicada a tornar a experiência esportiva em Pato Branco incrível. Nosso objetivo é proporcionar aos moradores locais e aos visitantes uma maneira fácil de se envolver em eventos esportivos emocionantes.
          </p>
      </div>
      <div class="col-md-6">
          <h2 class="text-md-center">O Que Oferecemos</h2>
          <p>
              Oferecemos uma ampla variedade de eventos esportivos para escolher. Você pode explorar e participar de competições esportivas emocionantes em nossa cidade. Além disso, nossa plataforma permite que você acompanhe suas participações e obtenha certificados de participação.
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 text-md-center">
          <h2 class="text-md-center">Nossa Missão</h2>
          <p>
              Nossa missão é promover um estilo de vida ativo e saudável em Pato Branco, conectando pessoas por meio do esporte e incentivando a participação em eventos esportivos locais.
          </p>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1 class="text-md-center mt-4">Como Usar o DesporPato</h1>
          <p class="text-md-center lead">Sua plataforma esportiva em Pato Branco</p>
      </div>
  </div>
  <div class="row mb-4">
      <div class="col-md-6">
          <h2 class="text-md-center">Registrando Atividades</h2>
          <p>
              Para registrar suas atividades esportivas e obter certificados de participação, siga estas etapas simples:
          </p>
          <ol>
              <li>Entre no aplicativo e vá para a aba 'Registrar Atividade'.</li>
              <li>Leia o código QR de algum dos eventos esportivos cadastrados na data do evento.</li>
              <li>Tire uma foto da sua participação no evento esportivo se quiser.</li>
              <li>Após concluir essas etapas, seu registro de atividade será processado.</li>
              <li>Em breve, seu certificado de participação estará disponível para download no aplicativo.</li>
          </ol>
      </div>
      <div class="col-md-6">
          <h2 class="text-md-center">Criando Eventos</h2>
          <p>
              Se você deseja criar eventos esportivos, siga estas etapas:
          </p>
          <ol>
              <li>Crie um perfil e selecione 'Desejo criar eventos', entraremos em contato e se tudo estiver certo colocaremos a permissão de criador de eventos em sua conta.</li>
              <li>Após criar o perfil, você terá a capacidade de adicionar e gerenciar eventos esportivos.</li>
              <li>Insira detalhes do evento, como data, titulo e link para que os participantes possam se inscrever.</li>
              <li>Depois de criar o evento, ele estará disponível para os esportistas lerem o qrcode e registrar a participação.</li>
          </ol>
      </div>
  </div>
  <div class="row mb-2">
      <div class="col-md-12 text-md-center">
          <h2 class="text-md-center">Desfrute do DesporPato</h2>
          <p>
              Aproveite ao máximo a experiência esportiva em Pato Branco com o DesporPato. Registre suas atividades, participe de eventos emocionantes e obtenha seus certificados de participação. Seja bem-vindo à comunidade esportiva!
          </p>
      </div>
  </div>
</div>