<div class="col-12 mt-5 text-left">
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Bem-vindo à nossa nova aplicação web, desenvolvida especialmente para as pessoas que realizam esportes em Pato
      Branco! Com o objetivo de promover um estilo de vida saudável e ativo, apresentamos a você a "DesporPato". Essa
      plataforma foi criada com o intuito de ajudar os vistantes e moradores a gerenciar suas atividades físicas semanais e também
      para fornecer informações atualizadas sobre eventos desportivos na cidade.
    </p>
    <ul>
      <li><strong>Gerenciamento de Atividades Físicas:</strong>
        A DesporPato permite que os usuários registrem suas atividades físicas semanais e estabeleçam metas pessoais
        de exercícios. Com uma interface amigável e intuitiva, é fácil inserir detalhes como tipo de atividade,
        duração, distância percorrida e calorias queimadas. Além disso, a aplicação oferece gráficos e estatísticas
        para que os usuários acompanhem seu progresso ao longo do tempo.
      </li>
      <li><strong>Calendário de Eventos Desportivos:</strong>
        Quer ficar por dentro dos eventos desportivos acontecendo em Pato Branco? A DesporPato disponibiliza um
        calendário abrangente com informações sobre corridas, competições, torneios e outros eventos esportivos que
        ocorrem na cidade. Os usuários podem verificar as datas, horários, locais e detalhes de inscrição de cada
        evento, facilitando o planejamento de participação.
      </li>
      <li><strong>Parcerias com Estabelecimentos Esportivos:</strong>
        A AtivaPato busca criar parcerias com academias, estúdios de fitness, clubes esportivos e outros
        estabelecimentos relacionados à atividade física. Isso permitirá que os usuários tenham acesso a descontos
        exclusivos, promoções especiais e a oportunidade de experimentar diferentes modalidades esportivas na cidade.
      </li>
    </ul>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;<strong>Segurança e Privacidade:</strong>
      &nbsp;&nbsp;&nbsp;&nbsp;A segurança e privacidade dos dados dos usuários são prioridades máximas na DesporPato, o
      aplicativo segue rigorosamente as leis de proteção de dados para garantir a tranquilidade dos usuários em
      relação ao uso de suas informações.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Estamos entusiasmados em lançar a DesporPato e contribuir para uma Pato Branco mais ativa, saudável e unida! Se
      você está pronto para explorar a vasta gama de atividades físicas disponíveis em sua cidade e ficar por dentro
      dos emocionantes eventos desportivos, junte-se a nós nessa jornada! Registre-se agora e comece a sua jornada
      para uma vida mais ativa e plena!
    </p>
  </div>