<div class="container">
  <div class="row">
    <div class="col-md-4 mt-3">
      <label for="filtroEvento" class="form-label me-2">Filtrar Eventos:</label>
      <select [(ngModel)]="filtro" name="filtroEvento" id="filtroEvento" class="form-select-sm"
        (change)="atualizarEventosFiltrados()">
        <option value="futuros">Futuros</option>
        <option value="passados">Passados</option>
        <option *ngIf="criador" value="admin">Admin</option>
      </select>
    </div>
    <div class="col-md-8 text-end mt-md-3">
      <button *ngIf="criador" routerLink="/criar-evento" id="criar-evento" class="btn btn-mg ms-md-2">Criar
        Evento</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form class="d-flex mt-3 form-group" role="search">
        <input [(ngModel)]="textoBusca" name="busca" class="form-control me-2" type="search"
          placeholder="Digite o nome do Evento" aria-label="Search">
        <button id="buscar" class="btn btn-mg" data-toggle="tooltip" data-placement="top" title="Busca por nome"
          (click)="filtrarEventosPorNome()">Buscar</button>
      </form>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <h2 class="text-center" style="color: rgb(185, 76, 12);">Eventos</h2>
      <ul class="list-group">
        <ng-container
          *ngFor="let evento of eventosFiltrados.slice().reverse().slice((paginaAtual - 1) * eventosPorPagina, paginaAtual * eventosPorPagina)|keyvalue">
          <li *ngIf="(filtro === 'futuros' && compareDates(evento.value.data, getCurrentDateInBrasilia()) >= 0) ||
            (filtro === 'passados' && compareDates(evento.value.data, getCurrentDateInBrasilia()) < 0) ||
            (filtro === 'admin' && evento.value.qr_code)" class="list-group">
            <a role="banner" class="list-group-item list-group-item-action lista-eventos"
              [routerLink]="['/eventos', evento.value.id]">
              <div class="row d-flex d-inline">
                <h5 class="col-md-4 d-flex justify-content-center">{{ evento.value.titulo }}</h5>
                <div class="col-md-2 d-flex justify-content-center">
                  <small class="mb-2">{{ evento.value.esporte }}</small>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <small class="mb-2">{{ evento.value.data | date: 'dd/MM/YYYY' }}</small>
                </div>
                <div class="col-md-4 d-flex justify-content-start">
                  <small class="word-wrap-break">
                    Saiba mais em: <a href="{{evento.value.link}}" (click)="$event.stopPropagation()">{{
                      evento.value.link}}</a>
                  </small>
                </div>
              </div>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-3">
      <button class="btn btn-primary me-2" (click)="paginaAtual = paginaAtual - 1"
        [disabled]="paginaAtual === 1">Anterior</button>
      <button class="btn btn-primary" (click)="paginaAtual = paginaAtual + 1"
        [disabled]="paginaAtual * eventosPorPagina >= eventosFiltrados.length">Próxima</button>
    </div>
  </div>
</div>