.lista-eventos:hover{
    background-color: rgb(185, 76, 12);
}

#buscar{
    background-color: #d87b3d; 
}
#buscar:hover{
    background-color: rgb(185, 76, 12);
}

.qr_code{
    background-color: #d87b3d; 
}
.qr_code:hover{
    background-color: blue;
}

#criar-evento{
    background-color: #d87b3d; 
}
#criar-evento:hover{
    background-color: rgb(185, 76, 12);
}

